In [1]:
import string
import time
from os import listdir

from li_scraper import LIScraper

In [2]:
scraper = LIScraper(path_to_li_creds='li_creds.txt')
scraper.log_in_to_li_sales_nav()

Login Successful.

In [3]:
scraper.gather_all_data_for_company('Arity', crm_only=False, title_keyword='marketing')

12 results found
Collecting page 1

,title,time_in_role,company,original_company
0,Senior Product Marketing Manager,4 years 11 months in role 4 years 11 months in...,Arity,Arity
1,Director of Product Marketing,2 years 6 months in role 2 years 6 months in c...,Arity,Arity
2,Director of Product Marketing & Intelligence,2 years 10 months in role 2 years 10 months in...,Arity,Arity
3,Sr. Sales Manager - Advertising & Marketing So...,1 year 7 months in role 1 year 7 months in com...,Arity,Arity
4,Digital Marketing Coordinator,5 months in role 5 months in company,Arity,Arity
5,Product Marketing Senior Consultant,4 months in role 4 months in company,Arity,Arity
6,Product Marketing Intern,5 months in role 5 months in company,Arity,Arity
7,Marketing,6 years 9 months in role 6 years 9 months in c...,Arity,Arity
8,Marketing Director,10 months in role 5 years 7 months in company,Arity,Arity
9,Manager - Digital Marketing & Demand Gen,2 months in role 3 years in company,Arity,Arity
10,"VP, Head of Marketing and Product Design",5 years 11 months in role 5 years 11 months in...,Arity,Arity
11,Sr. Product Marketing Manager,4 months in role 5 years 9 months in company,Arity,Arity